In [2]:
#Load packages
#Data handling
import requests
import numpy as np
import pandas as pd
import string as st
import os
import csv
import re
import random

import matplotlib
from matplotlib.legend_handler import HandlerPatch
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
%matplotlib auto

Using matplotlib backend: MacOSX

In [3]:
#Set path
path1 = '/Users/eihoman/Desktop/DSI/Machine Learning/Final Project/ML_Final_Gestational_Age.csv'
path2 = '/Users/eihoman/Desktop/DSI/Machine Learning/Final Project/ML_Final_Gestational_Age_2.csv'
path3 = '/Users/eihoman/Desktop/DSI/Machine Learning/Final Project/ML_Final_Gestational_Age_3.csv'
path4 = '/Users/eihoman/Desktop/DSI/Machine Learning/Final Project/ML_Final_Gestational_Age_4.csv'

In [4]:
episodes = pd.read_csv(path1)

In [5]:
visits = pd.read_csv(path2)

In [6]:
diagnoses = pd.read_csv(path3)

In [7]:
labs = pd.read_csv(path4)

In [8]:
episodes.head()

,ptid,epid,epname,startdate,enddate,comments,Nbabies,status,pregravidbmi,elpdate,...,ectopic,deldate,birthstatus,gestage,hxgestage,termdesc,livebirth,deltype,laborlen,birthwt
0,310255,5197344,2nd pregnancy,06/20/2012,10/22/2013,NaN,1.0,2,25.7,04/11/2012,...,0,01/22/2013,A,39,39w 6d,Term,Yes,"Vaginal, Spontaneous Delivery",426,115.24
1,70220,4155001,5th pregnancy,12/14/2011,07/24/2012,NaN,1.0,2,NaN,10/17/2011,...,0,07/19/2012,A,38,38w 3d,Term,Yes,"Vaginal, Spontaneous Delivery",0,118.03
2,162324,4785914,4th pregnancy,04/11/2012,11/29/2012,NaN,1.0,2,53.0,01/01/2012,...,0,10/16/2012,A,40,40w 2d,Term,Yes,"Vaginal, Spontaneous Delivery",675,106.49
3,287408,4094256,1st pregnancy,12/02/2011,08/21/2012,NaN,1.0,2,NaN,10/02/2011,...,0,07/17/2012,A,40,40w 2d,Term,Yes,"Vaginal, Spontaneous Delivery",540,110.69
4,145243,3978714,1st pregnancy,11/09/2011,07/17/2012,NaN,1.0,2,26.8,09/26/2011,...,0,07/17/2012,A,41,41w 1d,Term,Yes,"Vaginal, Spontaneous Delivery",1230,111.61

In [9]:
visits.head()

,ptid,epid,visitdate,age,race,ethnicity,payor,payscale,dx_desc,firstvisit,lastvisit,Nvisits,sbp,dbp,wt,ht,bmi
0,6905,4434961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,901471,3621058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
2,787426,3724058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
3,310255,5197344,06/20/2012,24.0,B,N,MCAID,1.0,PREG EXAM-UNCONFIRMED,06/20/2012,01/22/2013,15,106.0,66.0,148.0,63.0,26.2
4,310255,5197344,07/05/2012,24.0,B,N,MCAID,1.0,TOBAC USE COMP PREG-AP,06/20/2012,01/22/2013,15,92.0,58.0,147.0,NaN,NaN

In [10]:
diagnoses.head()

     ptid     epid      dxdate      dx                     dxdesc data_src
0  310255  5197344  06/20/2012  V72.40  PREGNANCY TEST UNCONFIRM        OP
1  310255  5197344  07/05/2012  649.00   TOBACCO USE DISORD-UNSP        OP
2  310255  5197344  07/05/2012  649.03  TOBACCO USE DIS-ANTEPART        OP
3  310255  5197344  07/05/2012   V22.1   SUPERVIS OTH NORMAL PREG       OP
4  310255  5197344  07/06/2012  649.63  UTERINE SIZE DES-ANTEPAR        OP

In [11]:
labs.head()

    ptid     epid     labdate pat_loc  panel   mne  nresult      tresult
0  70220  4155001  12/14/2011    OBHB    TAS  %ABR      0.0  AB POSITIVE
1  70220  4155001  12/14/2011    OBHB    TAS   %AS      0.0     NEGATIVE
2  70220  4155001  12/14/2011    OBHB  UASCR   APP      0.0        CLEAR
3  70220  4155001  12/14/2011    OBHB  UASCR  BILI      0.0     NEGATIVE
4  70220  4155001  12/14/2011    OBHB  UASCR  BLOD      0.0     NEGATIVE

In [12]:
combined = pd.DataFrame(columns=list(["ptid","age","race","ethnicity","Nbabies","pregravidbmi", 'gravida', 'para',
       'term', 'preterm', 'abort', 'tab', 'sab', 'ectopic',"gestage"]))

In [13]:
combined.head()

Empty DataFrame
Columns: [ptid, age, race, ethnicity, Nbabies, pregravidbmi, gravida, para, term, preterm, abort, tab, sab, ectopic, gestage]
Index: []

In [14]:
episodes.isnull().sum()

ptid               0
epid               0
epname             0
startdate          0
enddate            0
comments        3936
Nbabies           85
status             0
pregravidbmi    1488
elpdate            0
edddate            0
hxorder            0
gravida            0
para               0
term               0
preterm            0
abort              0
tab                0
sab                0
ectopic            0
deldate            0
birthstatus        0
gestage            0
hxgestage          0
termdesc           0
livebirth          0
deltype            0
laborlen           0
birthwt            0
dtype: int64

In [15]:
len(episodes)

4236

In [16]:
episodes_clean = episodes.copy()

In [17]:
episodes_clean.pregravidbmi = episodes.pregravidbmi.fillna(episodes.pregravidbmi.median())

In [18]:
episodes_clean.head()

,ptid,epid,epname,startdate,enddate,comments,Nbabies,status,pregravidbmi,elpdate,...,ectopic,deldate,birthstatus,gestage,hxgestage,termdesc,livebirth,deltype,laborlen,birthwt
0,310255,5197344,2nd pregnancy,06/20/2012,10/22/2013,NaN,1.0,2,25.7,04/11/2012,...,0,01/22/2013,A,39,39w 6d,Term,Yes,"Vaginal, Spontaneous Delivery",426,115.24
1,70220,4155001,5th pregnancy,12/14/2011,07/24/2012,NaN,1.0,2,26.1,10/17/2011,...,0,07/19/2012,A,38,38w 3d,Term,Yes,"Vaginal, Spontaneous Delivery",0,118.03
2,162324,4785914,4th pregnancy,04/11/2012,11/29/2012,NaN,1.0,2,53.0,01/01/2012,...,0,10/16/2012,A,40,40w 2d,Term,Yes,"Vaginal, Spontaneous Delivery",675,106.49
3,287408,4094256,1st pregnancy,12/02/2011,08/21/2012,NaN,1.0,2,26.1,10/02/2011,...,0,07/17/2012,A,40,40w 2d,Term,Yes,"Vaginal, Spontaneous Delivery",540,110.69
4,145243,3978714,1st pregnancy,11/09/2011,07/17/2012,NaN,1.0,2,26.8,09/26/2011,...,0,07/17/2012,A,41,41w 1d,Term,Yes,"Vaginal, Spontaneous Delivery",1230,111.61

In [19]:
episodes_clean = episodes_clean.drop(columns="comments")

In [20]:
episodes_clean.Nbabies = episodes_clean.Nbabies.fillna(episodes_clean.Nbabies.median())

In [21]:
episodes_clean.isnull().sum().sum()

0

In [22]:
episodes_clean.ptid.nunique()

3712

In [23]:
episodes_clean_pt = episodes_clean.groupby("ptid").first()

In [24]:
type(episodes_clean_pt)

pandas.core.frame.DataFrame

In [25]:
episodes_clean_pt.head()

,epid,epname,startdate,enddate,Nbabies,status,pregravidbmi,elpdate,edddate,hxorder,...,ectopic,deldate,birthstatus,gestage,hxgestage,termdesc,livebirth,deltype,laborlen,birthwt
ptid,,,,,,,,,,,,,,,,,,,,,
540,14967571,2nd pregnancy,12/09/2015,08/31/2016,1.0,2,25.7,10/10/2015,07/23/2016,2,...,0,07/18/2016,A,39,39w 2d,Term,Yes,"C-Section, Low Transverse",0,121.34
567,6543270,First pregnancy,01/08/2013,11/03/2015,1.0,2,21.8,11/07/2012,08/21/2013,1,...,0,08/14/2013,A,39,39w,Term,Yes,"Vaginal, Spontaneous Delivery",0,85.50
637,13271669,2nd pregnancy,05/27/2015,01/08/2016,1.0,2,26.1,03/30/2015,01/11/2016,2,...,0,01/07/2016,A,39,39w 3d,Term,Yes,"Vaginal, Spontaneous Delivery",636,122.75
749,5847174,1st pregnancy,09/27/2012,04/21/2013,1.0,2,19.6,08/15/2012,05/29/2013,1,...,0,04/21/2013,D,34,34w 4d,Preterm,No,"C-Section, Low Transverse",0,88.90
780,6502259,1st pregnancy,01/02/2013,08/01/2013,1.0,2,26.1,10/31/2012,08/14/2013,1,...,0,07/31/2013,A,38,38w,Term,Yes,"Vaginal, Spontaneous Delivery",640,82.89

In [26]:
episodes_clean_pt.columns

Index(['epid', 'epname', 'startdate', 'enddate', 'Nbabies', 'status',
       'pregravidbmi', 'elpdate', 'edddate', 'hxorder', 'gravida', 'para',
       'term', 'preterm', 'abort', 'tab', 'sab', 'ectopic', 'deldate',
       'birthstatus', 'gestage', 'hxgestage', 'termdesc', 'livebirth',
       'deltype', 'laborlen', 'birthwt'],
      dtype='object')

In [27]:
len(episodes_clean_pt)

3712

In [28]:
len(episodes_clean)

4236

In [29]:
combined = combined.groupby("ptid").first()

In [30]:
combined_df = pd.concat([combined,episodes_clean_pt],join_axes=[combined.columns])

In [31]:
combined_df.head(20)

,age,race,ethnicity,Nbabies,pregravidbmi,gravida,para,term,preterm,abort,tab,sab,ectopic,gestage
ptid,,,,,,,,,,,,,,
540,NaN,NaN,NaN,1.0,25.7,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0
567,NaN,NaN,NaN,1.0,21.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
637,NaN,NaN,NaN,1.0,26.1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,39.0
749,NaN,NaN,NaN,1.0,19.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
780,NaN,NaN,NaN,1.0,26.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0
956,NaN,NaN,NaN,1.0,24.8,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,37.0
1128,NaN,NaN,NaN,1.0,33.6,3.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,39.0
1568,NaN,NaN,NaN,1.0,20.9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0
1900,NaN,NaN,NaN,1.0,38.1,8.0,4.0,3.0,1.0,2.0,0.0,2.0,0.0,39.0
2852,NaN,NaN,NaN,1.0,26.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
3121,NaN,NaN,NaN,1.0,26.1,7.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,36.0
3219,NaN,NaN,NaN,1.0,29.1,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,39.0
3222,NaN,NaN,NaN,1.0,25.9,6.0,4.0,4.0,0.0,1.0,0.0,1.0,0.0,39.0
3298,NaN,NaN,NaN,1.0,19.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0
3655,NaN,NaN,NaN,1.0,18.8,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,38.0
4734,NaN,NaN,NaN,1.0,21.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
5023,NaN,NaN,NaN,1.0,38.4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0
5069,NaN,NaN,NaN,1.0,26.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0
5361,NaN,NaN,NaN,1.0,26.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0
5704,NaN,NaN,NaN,1.0,25.7,8.0,6.0,6.0,0.0,1.0,0.0,1.0,0.0,38.0

In [32]:
visits.isnull().sum()

ptid              0
epid              0
visitdate      2572
age            2572
race           2572
ethnicity      2572
payor          2572
payscale       2572
dx_desc        2572
firstvisit     2572
lastvisit      2572
Nvisits           0
sbp           30064
dbp           30064
wt            30064
ht            68307
bmi           68307
dtype: int64

In [33]:
len(visits)

90804

In [34]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.
        Columns of dtype object are imputed with the most frequent value 
        in column.
        Columns of dtype floating point are imputed with the mean.
        Columns of other types are imputed with median of the column.
        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') 
                               else X[c].mean() if X[c].dtype == np.dtype('f')
                                else X[c].median() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [35]:
visits_clean = DataFrameImputer().fit_transform(visits)

In [36]:
visits_clean.isnull().sum().sum()

0

In [37]:
visits_clean_pt = visits_clean.groupby("ptid").first()

In [38]:
visits_clean_pt.head()

,epid,visitdate,age,race,ethnicity,payor,payscale,dx_desc,firstvisit,lastvisit,Nvisits,sbp,dbp,wt,ht,bmi
ptid,,,,,,,,,,,,,,,,
466,2730835,06/02/2016,28.0,W,N,MCAIDHMO,1.0,SUPERVIS NORMAL PREG NEC,10/23/2013,12/12/2016,0,110.0,64.0,168.0,64.0,30.2
540,14967571,01/05/2016,28.0,W,N,SELF PAY,0.0,Unknown,01/05/2016,07/18/2016,19,110.0,64.0,168.0,64.0,30.2
567,6543270,01/08/2013,18.0,B,N,BCROSS,7.0,UTER SIZE DISCREP-AP,01/08/2013,08/13/2013,13,110.0,64.0,168.0,64.0,30.2
637,13271669,05/27/2015,24.0,W,N,MCAID,2.0,SUPERVIS NORMAL PREG NEC,05/27/2015,01/07/2016,21,100.0,55.0,150.7,64.5,25.5
749,5847174,10/10/2012,18.0,W,N,MCAIDHMO,1.0,UTER SIZE DISCREP-AP,10/10/2012,04/21/2013,7,110.0,64.0,168.0,64.0,30.2

In [39]:
combined_df.head()

,age,race,ethnicity,Nbabies,pregravidbmi,gravida,para,term,preterm,abort,tab,sab,ectopic,gestage
ptid,,,,,,,,,,,,,,
540,NaN,NaN,NaN,1.0,25.7,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0
567,NaN,NaN,NaN,1.0,21.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
637,NaN,NaN,NaN,1.0,26.1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,39.0
749,NaN,NaN,NaN,1.0,19.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
780,NaN,NaN,NaN,1.0,26.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0

In [40]:
combined_df = combined_df.drop(["age","race","ethnicity"], axis=1)

In [41]:
combined_df.head()

,Nbabies,pregravidbmi,gravida,para,term,preterm,abort,tab,sab,ectopic,gestage
ptid,,,,,,,,,,,
540,1.0,25.7,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0
567,1.0,21.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
637,1.0,26.1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,39.0
749,1.0,19.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
780,1.0,26.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0

In [42]:
visits_clean_pt2 = visits_clean_pt[["age","race","ethnicity","payor","payscale"]]

In [43]:
visits_clean_pt2.head()

       age race ethnicity     payor  payscale
ptid
466   28.0    W         N  MCAIDHMO       1.0
540   28.0    W         N  SELF PAY       0.0
567   18.0    B         N    BCROSS       7.0
637   24.0    W         N     MCAID       2.0
749   18.0    W         N  MCAIDHMO       1.0

In [44]:
compiled = combined_df.join(visits_clean_pt2, how='outer')

In [45]:
compiled.head()

,Nbabies,pregravidbmi,gravida,para,term,preterm,abort,tab,sab,ectopic,gestage,age,race,ethnicity,payor,payscale
ptid,,,,,,,,,,,,,,,,
466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,W,N,MCAIDHMO,1.0
540,1.0,25.7,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0,28.0,W,N,SELF PAY,0.0
567,1.0,21.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0,18.0,B,N,BCROSS,7.0
637,1.0,26.1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,39.0,24.0,W,N,MCAID,2.0
749,1.0,19.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,18.0,W,N,MCAIDHMO,1.0

In [46]:
compiled2 = compiled.dropna(thresh=12)

In [47]:
compiled2.head()

,Nbabies,pregravidbmi,gravida,para,term,preterm,abort,tab,sab,ectopic,gestage,age,race,ethnicity,payor,payscale
ptid,,,,,,,,,,,,,,,,
540,1.0,25.7,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0,28.0,W,N,SELF PAY,0.0
567,1.0,21.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0,18.0,B,N,BCROSS,7.0
637,1.0,26.1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,39.0,24.0,W,N,MCAID,2.0
749,1.0,19.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,18.0,W,N,MCAIDHMO,1.0
780,1.0,26.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0,18.0,B,N,BCROSS,7.0

In [48]:
len(compiled2)

3712

In [49]:
diagnoses.head()

     ptid     epid      dxdate      dx                     dxdesc data_src
0  310255  5197344  06/20/2012  V72.40  PREGNANCY TEST UNCONFIRM        OP
1  310255  5197344  07/05/2012  649.00   TOBACCO USE DISORD-UNSP        OP
2  310255  5197344  07/05/2012  649.03  TOBACCO USE DIS-ANTEPART        OP
3  310255  5197344  07/05/2012   V22.1   SUPERVIS OTH NORMAL PREG       OP
4  310255  5197344  07/06/2012  649.63  UTERINE SIZE DES-ANTEPAR        OP

In [50]:
diagnoses2 = diagnoses.drop(["epid","dxdate","dxdesc","data_src"], axis=1)

In [51]:
diagnoses2.head()

     ptid      dx
0  310255  V72.40
1  310255  649.00
2  310255  649.03
3  310255   V22.1
4  310255  649.63

In [52]:
diagnoses3 = diagnoses2.groupby(["ptid","dx"]).agg("count")

In [53]:
diagnoses3.head(20)

Empty DataFrame
Columns: []
Index: [(540, B96.89), (540, D64.9), (540, D68.2), (540, D68.51), (540, E66.9), (540, J45.909), (540, M79.604), (540, M79.605), (540, M79.652), (540, N12), (540, N76.0), (540, O09.211), (540, O09.212), (540, O09.213), (540, O09.291), (540, O09.292), (540, O09.293), (540, O09.90), (540, O09.91), (540, O09.92)]

In [54]:
diagnoses3["count"]=1

In [55]:
diagnoses3.head()

             count
ptid dx
540  B96.89      1
     D64.9       1
     D68.2       1
     D68.51      1
     E66.9       1

In [56]:
diagnoses4 = diagnoses3.unstack()

In [57]:
diagnoses4.head()

      count                                                            ...    \
dx   008.43 008.45 008.8 009.1 011.90 034.0 038.0 038.11 038.42 038.9  ...
ptid                                                                   ...
540     NaN    NaN   NaN   NaN    NaN   NaN   NaN    NaN    NaN   NaN  ...
567     NaN    NaN   NaN   NaN    NaN   NaN   NaN    NaN    NaN   NaN  ...
637     NaN    NaN   NaN   NaN    NaN   NaN   NaN    NaN    NaN   NaN  ...
749     NaN    NaN   NaN   NaN    NaN   NaN   NaN    NaN    NaN   NaN  ...
780     NaN    NaN   NaN   NaN    NaN   NaN   NaN    NaN    NaN   NaN  ...


dx   Z96.41 Z96.7 Z98.1 Z98.84 Z98.870 Z98.89 Z98.890 Z98.891 Z99.2 Z99.81
ptid
540     NaN   NaN   NaN    NaN     NaN    NaN     NaN     NaN   NaN    NaN
567     NaN   NaN   NaN    NaN     NaN    NaN     NaN     NaN   NaN    NaN
637     NaN   NaN   NaN    NaN     NaN    NaN     NaN     NaN   NaN    NaN
749     NaN   NaN   NaN    NaN     NaN    NaN     NaN     NaN   NaN    NaN
780     NaN   NaN   NaN    NaN     NaN    NaN     NaN     NaN   NaN    NaN

[5 rows x 4086 columns]

In [58]:
diagnoses5 = diagnoses4.fillna(0)

In [59]:
diagnoses5.loc[540,("count","D64.9")]

1.0

In [60]:
diagnoses6 = diagnoses5.copy()

In [61]:
diagnoses6.columns = diagnoses5.columns.droplevel(0)

In [62]:
diagnoses6.head()

dx,008.43,008.45,008.8,009.1,011.90,034.0,038.0,038.11,038.42,038.9,...,Z96.41,Z96.7,Z98.1,Z98.84,Z98.870,Z98.89,Z98.890,Z98.891,Z99.2,Z99.81
ptid,,,,,,,,,,,,,,,,,,,,,
540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
637,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
749,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
780,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
compiled3 = compiled2.join(diagnoses6, how='outer')

In [64]:
compiled3.head()

,Nbabies,pregravidbmi,gravida,para,term,preterm,abort,tab,sab,ectopic,...,Z96.41,Z96.7,Z98.1,Z98.84,Z98.870,Z98.89,Z98.890,Z98.891,Z99.2,Z99.81
ptid,,,,,,,,,,,,,,,,,,,,,
540,1.0,25.7,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
567,1.0,21.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
637,1.0,26.1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
749,1.0,19.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
780,1.0,26.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
## BOOM ## -- this is essentially a dataframe in which all diagnosis codes are one-hot-encoded (but other stuff isn't)

In [92]:
compiled_final = compiled3.copy()

### Ready for Machine Learning Applications... use compiled_final

In [93]:
list(compiled_final.columns)

['Nbabies',
 'pregravidbmi',
 'gravida',
 'para',
 'term',
 'preterm',
 'abort',
 'tab',
 'sab',
 'ectopic',
 'gestage',
 'age',
 'race',
 'ethnicity',
 'payor',
 'payscale',
 '008.43',
 '008.45',
 '008.8',
 '009.1',
 '011.90',
 '034.0',
 '038.0',
 '038.11',
 '038.42',
 '038.9',
 '041.02',
 '041.04',
 '041.09',
 '041.12',
 '041.3',
 '041.49',
 '041.85',
 '041.86',
 '041.89',
 '041.9',
 '042',
 '053.9',
 '054.10',
 '054.12',
 '054.19',
 '054.2',
 '054.9',
 '057.0',
 '058.89',
 '070.30',
 '070.32',
 '070.44',
 '070.54',
 '070.70',
 '078.0',
 '078.10',
 '078.11',
 '078.5',
 '078.88',
 '078.89',
 '079.4',
 '079.83',
 '079.88',
 '079.98',
 '079.99',
 '084.0',
 '084.6',
 '088.81',
 '098.0',
 '099.50',
 '099.53',
 '099.54',
 '099.55',
 '099.8',
 '099.9',
 '110.3',
 '110.5',
 '111.0',
 '111.9',
 '112.0',
 '112.1',
 '112.3',
 '112.9',
 '117.9',
 '120.9',
 '128.9',
 '131.01',
 '131.09',
 '131.9',
 '133.0',
 '135',
 '136.1',
 '136.9',
 '154.1',
 '157.9',
 '162.9',
 '173.31',
 '193',
 '197.7',
 '201.90',
 '202.00',
 '204.01',
 '209.29',
 '209.72',
 '211.3',
 '215.9',
 '216.5',
 '216.7',
 '216.9',
 '217',
 '218.1',
 '218.2',
 '218.9',
 '219.0',
 '219.8',
 '220',
 '221.8',
 '223.0',
 '225.0',
 '225.2',
 '227.3',
 '228.02',
 '228.04',
 '228.09',
 '233.1',
 '236.0',
 '237.70',
 '239.0',
 '240.9',
 '241.0',
 '241.1',
 '242.00',
 '242.80',
 '242.90',
 '243',
 '244.0',
 '244.1',
 '244.8',
 '244.9',
 '245.2',
 '245.9',
 '246.9',
 '249.00',
 '249.50',
 '249.80',
 '250.00',
 '250.01',
 '250.02',
 '250.03',
 '250.10',
 '250.11',
 '250.13',
 '250.40',
 '250.41',
 '250.42',
 '250.50',
 '250.52',
 '250.60',
 '250.61',
 '250.63',
 '250.80',
 '250.81',
 '250.82',
 '250.83',
 '250.90',
 '250.91',
 '250.92',
 '251.1',
 '251.2',
 '252.1',
 '256.1',
 '256.2',
 '256.4',
 '263.9',
 '266.2',
 '268.9',
 '270.0',
 '270.2',
 '270.4',
 '271.3',
 '272.0',
 '272.4',
 '275.03',
 '275.2',
 '275.41',
 '276.1',
 '276.2',
 '276.3',
 '276.51',
 '276.52',
 '276.69',
 '276.7',
 '276.8',
 '276.9',
 '277.00',
 '277.02',
 '277.4',
 '277.5',
 '277.7',
 '277.81',
 '278.00',
 '278.01',
 '278.02',
 '279.01',
 '279.9',
 '280.0',
 '280.9',
 '281.0',
 '281.9',
 '282.0',
 '282.2',
 '282.43',
 '282.46',
 '282.5',
 '282.60',
 '282.7',
 '283.0',
 '283.19',
 '283.9',
 '284.19',
 '285.1',
 '285.21',
 '285.22',
 '285.8',
 '285.9',
 '286.1',
 '286.2',
 '286.3',
 '286.4',
 '286.59',
 '286.6',
 '286.9',
 '287.0',
 '287.30',
 '287.31',
 '287.49',
 '287.5',
 '288.00',
 '288.2',
 '288.60',
 '288.8',
 '288.9',
 '289.50',
 '289.52',
 '289.81',
 '289.82',
 '289.89',
 '292.0',
 '292.84',
 '293.89',
 '295.30',
 '295.70',
 '295.90',
 '296.20',
 '296.21',
 '296.22',
 '296.30',
 '296.31',
 '296.32',
 '296.36',
 '296.41',
 '296.50',
 '296.55',
 '296.60',
 '296.65',
 '296.7',
 '296.80',
 '296.89',
 '296.90',
 '298.9',
 '300.00',
 '300.01',
 '300.02',
 '300.09',
 '300.14',
 '300.21',
 '300.23',
 '300.3',
 '300.4',
 '300.9',
 '301.83',
 '301.9',
 '302.79',
 '303.90',
 '303.93',
 '304.00',
 '304.01',
 '304.02',
 '304.03',
 '304.10',
 '304.20',
 '304.23',
 '304.32',
 '304.42',
 '304.60',
 '304.70',
 '304.80',
 '304.83',
 '304.90',
 '304.91',
 '304.93',
 '305.00',
 '305.01',
 '305.02',
 '305.03',
 '305.1',
 '305.20',
 '305.21',
 '305.22',
 '305.23',
 '305.42',
 '305.43',
 '305.50',
 '305.51',
 '305.52',
 '305.53',
 '305.60',
 '305.61',
 '305.63',
 '305.70',
 '305.72',
 '305.90',
 '305.91',
 '305.92',
 '305.93',
 '307.46',
 '307.52',
 '307.81',
 '308.3',
 '309.0',
 '309.24',
 '309.4',
 '309.81',
 '309.9',
 '311',
 '313.81',
 '314.00',
 '314.01',
 '317',
 '319',
 '323.82',
 '327.23',
 '333.0',
 '333.94',
 '336.9',
 '337.1',
 '337.9',
 '338.11',
 '338.18',
 '338.29',
 '338.4',
 '339.12',
 '340',
 '343.1',
 '343.3',
 '343.9',
 '344.9',
 '345.10',
 '345.40',
 '345.80',
 '345.90',
 '346.00',
 '346.01',
 '346.10',
 '346.12',
 '346.21',
 '346.70',
 '346.80',
 '346.90',
 '348.0',
 '348.2',
 '348.39',
 '348.4',
 '348.9',
 '349.0',
 '350.1',
 '351.0',
 '354.0',
 '355.0',
 '355.3',
 '355.8',
 '355.9',
 '356.1',
 '356.8',
 '356.9',
 '358.00',
 '359.0',
 '359.1',
 '359.9',
 '360.21',
 '362.01',
 '362.29',
 '367.0',
 '367.9',
 '368.13',
 '368.2',
 '368.44',
 '368.8',
 '368.9',
 '369.3',
 '369.60',
 '369.9',
 '372.00',
 '372.03',
 '372.05',
 '372.14',
 '372.30',
 '373.2',
 '374.30',
 '375.15',
 '377.14',
 '377.41',
 '377.49',
 '379.50',
 '379.90',
 '379.91',
 '380.10',
 '380.4',
 '381.19',
 '382.9',
 '385.89',
 '386.10',
 '386.11',
 '388.30',
 '388.70',
 '389.05',
 '389.8',
 '389.9',
 '391.8',
 '395.1',
 '396.3',
 '397.0',
 '398.90',
 '401.1',
 '401.9',
 '402.01',
 '402.10',
 '403.90',
 '403.91',
 '405.91',
 '405.99',
 '410.71',
 '412',
 '414.00',
 '414.01',
 '414.11',
 '414.9',
 '415.19',
 '416.8',
 '423.8',
 '423.9',
 '424.0',
 '424.1',
 '424.2',
 '424.3',
 '424.90',
 '425.11',
 '425.4',
 '426.0',
 '426.11',
 '426.2',
 '426.7',
 '426.82',
 '426.9',
 '427.0',
 '427.1',
 '427.42',
 '427.60',
 '427.69',
 '427.89',
 '427.9',
 '428.0',
 '428.20',
 '428.21',
 '428.22',
 '428.32',
 '428.40',
 '428.9',
 '429.3',
 '429.83',
 '429.9',
 '431',
 '432.1',
 '434.01',
 '434.91',
 '436',
 '437.3',
 '438.20',
 '438.7',
 '438.89',
 '441.2',
 '442.81',
 '442.9',
 '443.0',
 '443.1',
 '443.9',
 '444.81',
 '446.1',
 '446.21',
 '446.6',
 '447.6',
 '447.70',
 '447.8',
 '448.1',
 '451.9',
 '453.40',
 '453.41',
 '453.42',
 '453.50',
 '453.51',
 '453.52',
 '453.6',
 '453.72',
 '453.73',
 '453.75',
 '453.81',
 '453.82',
 '453.84',
 '453.85',
 '453.89',
 '453.9',
 '454.8',
 '454.9',
 '455.3',
 '455.4',
 '455.6',
 '455.7',
 '455.8',
 '456.1',
 '456.21',
 '456.6',
 '456.8',
 '457.2',
 '458.0',
 '458.1',
 '458.29',
 '458.9',
 '459.0',
 '459.30',
 '459.81',
 '459.9',
 '460',
 '461.9',
 '462',
 '464.00',
 '465.9',
 '466.0',
 '472.0',
 '472.1',
 '473.8',
 '473.9',
 '474.10',
 '474.11',
 '477.0',
 '477.8',
 '477.9',
 '478.19',
 '478.25',
 '486',
 '487.1',
 '490',
 '491.21',
 '492.8',
 '493.00',
 '493.02',
 '493.81',
 '493.90',
 '493.91',
 '493.92',
 '496',
 '511.9',
 '512.81',
 '512.89',
 '514',
 '515',
 '518.0',
 '518.4',
 '518.51',
 '518.52',
 '518.81',
 '518.82',
 '518.83',
 '518.89',
 '519.8',
 '521.00',
 '521.81',
 '522.4',
 '522.5',
 '523.10',
 '523.6',
 '523.8',
 '523.9',
 '525.10',
 '525.9',
 '527.7',
 '527.8',
 '530.13',
 '530.81',
 '533.11',
 '533.90',
 '535.40',
 '535.50',
 '536.2',
 '536.3',
 '536.8',
 '540.9',
 '550.90',
 '553.1',
 '553.20',
 '553.21',
 '553.9',
 '555.1',
 '555.2',
 '555.9',
 '556.0',
 '556.6',
 '556.8',
 '556.9',
 '558.9',
 '560.1',
 '560.31',
 '560.9',
 '564.00',
 '564.09',
 '564.1',
 '564.7',
 '565.0',
 '565.1',
 '567.22',
 '568.0',
 '568.81',
 '568.89',
 '569.3',
 '569.42',
 '569.89',
 '571.1',
 '571.5',
 '571.6',
 '571.8',
 '572.3',
 '573.3',
 '573.8',
 '573.9',
 '574.20',
 '574.21',
 '574.50',
 '574.51',
 '574.90',
 '575.0',
 '575.10',
 '575.8',
 '575.9',
 '576.1',
 '576.2',
 '576.8',
 '576.9',
 '577.0',
 '577.1',
 '577.8',
 '578.0',
 '578.1',
 '579.0',
 '579.8',
 '579.9',
 '581.3',
 '581.81',
 '581.89',
 '581.9',
 '582.1',
 '583.81',
 '583.89',
 '583.9',
 '584.9',
 '585.1',
 '585.2',
 '585.3',
 '585.4',
 '585.6',
 '585.9',
 '586',
 '588.81',
 '588.89',
 '590.00',
 '590.10',
 '590.80',
 '591',
 '592.0',
 '592.1',
 '592.9',
 '593.4',
 '593.5',
 '593.89',
 '593.9',
 '595.0',
 '595.1',
 '595.9',
 '596.54',
 '596.89',
 '599.0',
 '599.2',
 '599.70',
 '599.71',
 '599.72',
 '599.9',
 '611.6',
 '611.71',
 '611.72',
 '611.79',
 '611.89',
 '611.9',
 '614.1',
 '614.2',
 '614.6',
 '614.9',
 '615.9',
 '616.0',
 '616.10',
 '616.2',
 '616.3',
 '616.4',
 '616.50',
 '616.89',
 '616.9',
 '617.0',
 '617.1',
 '617.9',
 '618.01',
 '618.04',
 '618.1',
 '618.89',
 '618.9',
 '619.1',
 '619.2',
 '619.8',
 '620.1',
 '620.2',
 '620.5',
 '620.8',
 '620.9',
 '621.0',
 '621.2',
 '621.5',
 '621.8',
 '621.9',
 '622.10',
 '622.11',
 '622.12',
 '622.4',
 '622.5',
 '622.7',
 '622.8',
 '622.9',
 '623.5',
 '623.8',
 '623.9',
 '624.3',
 '624.8',
 '625.0',
 '625.2',
 '625.3',
 '625.6',
 '625.8',
 '625.9',
 '626.0',
 '626.1',
 '626.2',
 '626.4',
 '626.6',
 '626.7',
 '626.8',
 '626.9',
 '628.0',
 '628.9',
 '629.20',
 '629.21',
 '629.81',
 '629.89',
 '629.9',
 '630',
 '631.8',
 '632',
 '633.10',
 '633.90',
 '634.90',
 '634.91',
 '634.92',
 '635.90',
 '640.00',
 '640.03',
 '640.90',
 '640.91',
 '640.93',
 '641.00',
 '641.01',
 '641.03',
 '641.10',
 '641.11',
 '641.13',
 '641.20',
 '641.21',
 '641.23',
 '641.80',
 '641.81',
 '641.83',
 '641.90',
 '641.91',
 '641.93',
 '642.00',
 '642.01',
 '642.02',
 '642.03',
 '642.04',
 '642.13',
 '642.21',
 '642.22',
 '642.23',
 '642.30',
 '642.31',
 '642.32',
 '642.33',
 '642.34',
 '642.40',
 '642.41',
 '642.42',
 '642.43',
 '642.44',
 '642.50',
 '642.51',
 '642.52',
 '642.53',
 '642.54',
 '642.61',
 '642.70',
 '642.71',
 '642.72',
 '642.73',
 '642.90',
 '642.91',
 '642.92',
 '642.93',
 '642.94',
 '643.00',
 '643.01',
 '643.03',
 '643.10',
 '643.13',
 '643.21',
 '643.23',
 '643.81',
 '643.90',
 '643.93',
 '644.00',
 '644.03',
 '644.10',
 '644.13',
 '644.20',
 '644.21',
 '645.10',
 '645.11',
 '645.13',
 '645.23',
 '646.10',
 '646.11',
 '646.12',
 '646.13',
 '646.20',
 '646.21',
 '646.23',
 '646.30',
 '646.31',
 '646.33',
 '646.43',
 '646.50',
 '646.51',
 '646.53',
 '646.60',
 '646.61',
 '646.62',
 '646.63',
 '646.64',
 '646.70',
 '646.71',
 '646.73',
 '646.80',
 '646.81',
 '646.82',
 '646.83',
 '646.84',
 '646.90',
 '646.91',
 '646.93',
 '647.10',
 '647.11',
 '647.13',
 '647.20',
 '647.21',
 '647.23',
 '647.30',
 '647.33',
 '647.43',
 '647.53',
 '647.60',
 '647.61',
 '647.62',
 '647.63',
 '647.64',
 '647.80',
 '647.81',
 '647.82',
 '647.83',
 '647.90',
 '647.91',
 '647.93',
 '648.00',
 '648.01',
 '648.02',
 '648.03',
 '648.04',
 '648.10',
 '648.11',
 '648.12',
 '648.13',
 '648.14',
 '648.20',
 '648.21',
 '648.22',
 '648.23',
 '648.24',
 '648.30',
 '648.31',
 '648.32',
 '648.33',
 '648.34',
 '648.40',
 '648.41',
 '648.42',
 '648.43',
 '648.44',
 '648.50',
 '648.51',
 '648.52',
 '648.53',
 '648.60',
 '648.61',
 '648.62',
 '648.63',
 '648.71',
 '648.72',
 '648.73',
 '648.74',
 '648.80',
 '648.81',
 '648.82',
 '648.83',
 '648.84',
 '648.90',
 '648.91',
 '648.92',
 '648.93',
 '648.94',
 '649.00',
 '649.01',
 '649.02',
 '649.03',
 '649.10',
 '649.11',
 '649.12',
 '649.13',
 '649.14',
 '649.21',
 '649.23',
 '649.30',
 '649.31',
 '649.32',
 '649.33',
 '649.40',
 '649.41',
 '649.43',
 '649.50',
 '649.51',
 '649.53',
 '649.60',
 '649.63',
 '649.70',
 '649.71',
 '649.73',
 '649.81',
 '650',
 '651.00',
 '651.01',
 '651.03',
 '651.10',
 '651.11',
 '651.13',
 '651.20',
 '651.23',
 '651.30',
 '651.31',
 '651.33',
 '651.63',
 '651.71',
 '651.73',
 '651.90',
 '651.93',
 ...]

In [94]:
numerics = ['Nbabies','pregravidbmi','gravida','para','term','preterm','abort','tab','sab','ectopic','age','payscale']

In [95]:
categories = ['race','ethnicity','payor']

In [96]:
compiled_final[categories].head()

     race ethnicity     payor
ptid
540     W         N  SELF PAY
567     B         N    BCROSS
637     W         N     MCAID
749     W         N  MCAIDHMO
780     B         N    BCROSS

In [97]:
data_new = compiled_final.copy()
data_new.head()

,Nbabies,pregravidbmi,gravida,para,term,preterm,abort,tab,sab,ectopic,...,Z96.41,Z96.7,Z98.1,Z98.84,Z98.870,Z98.89,Z98.890,Z98.891,Z99.2,Z99.81
ptid,,,,,,,,,,,,,,,,,,,,,
540,1.0,25.7,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
567,1.0,21.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
637,1.0,26.1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
749,1.0,19.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
780,1.0,26.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
data_new = data_new.drop("gestage",axis=1)

In [100]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
data_new[numerics] = min_max_scaler.fit_transform(compiled_final[numerics])

In [101]:
data_ohe = pd.get_dummies(data_new, drop_first = False)
data_ohe.head()

,Nbabies,pregravidbmi,gravida,para,term,preterm,abort,tab,sab,ectopic,...,payor_MCAID OS,payor_MCAIDHMO,payor_MCARE,payor_MCARE AD,payor_MG CARE,payor_OTHER,payor_SELF PAY,payor_SO HLTH,payor_TRICARE,payor_UNITED
ptid,,,,,,,,,,,,,,,,,,,,,
540,0.0,0.048746,0.066667,0.083333,0.000000,0.2,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
567,0.0,0.030289,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
637,0.0,0.050639,0.066667,0.083333,0.083333,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
749,0.0,0.019877,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
780,0.0,0.050639,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
data_ohe['gestage'] = compiled_final["gestage"]

In [116]:
list(data_ohe.columns)[4120:4127]

['payor_MG CARE',
 'payor_OTHER',
 'payor_SELF PAY',
 'payor_SO HLTH',
 'payor_TRICARE',
 'payor_UNITED',
 'gestage']

### Neural Net

In [ ]:
from keras.models import Sequential
from keras.layers import Activation, Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM
from keras import optimizers

# 1091 columns
x_train = data_ohe.loc[:,'SHOCK_INDEX':'payor_UNITED']

In [ ]:
# Reset indices of training data
resultstrain2 = resultstrain2.reset_index()

# Create arrays to input into neural network

# Columns
x_training = resultstrain2.loc[:,'SHOCK_INDEX':'SysBP']
x_testing = neuraltest.loc[:,'SHOCK_INDEX':'SysBP']

# drop unwanted columns
x_training = x_training.drop(['CLiF'], axis=1)
x_testing = x_testing.drop(['CLiF'], axis=1)

# one column
y_training = pd.DataFrame(resultstrain2['indexMort'])
y_testing = pd.DataFrame(neuraltest['indexMort'])

template = x_training
trainingfeatures = int(template.shape[1])

numsamples = int(len(x_training) / chunks)
x_train = np.array(x_training)
x_train = x_train.reshape(numsamples, chunks, trainingfeatures)

numsamples = int(len(x_testing) / chunks)
x_test = np.array(x_testing)
x_test = x_test.reshape(numsamples, chunks, trainingfeatures)

y_train = pd.DataFrame()
for i in range(0,(len(y_training))):
    if (i % chunks) == 0:
        y_train = y_train.append(y_training.iloc[i])
y_train = np.array(y_train)

y_test = y_testing[(chunks-1)::chunks]
y_test = y_test.reset_index(drop=True)
y_test = np.array(y_test)

# Create neural network model
model = Sequential()
model.add(LSTM(10, input_shape=(chunks, trainingfeatures)))
model.add(Dropout(0.3))
model.add(Dense(1))
model.add(Activation('sigmoid'))

model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

model.fit(x_train, y_train, batch_size=(2), epochs=15)
score = model.evaluate(x_test, y_test, batch_size=(2))

# Print results
print(score)
print(model.summary())

# Generate predictions for AUC calculation
predictions = model.predict(x_test)
outcome = pd.DataFrame(predictions, columns=['preds'])
resultspt = y_testing[(chunks-1)::chunks]
x = resultspt["indexMort"]
x = x.reset_index()
x["indexMort"] = x["indexMort"].astype('category')
x = x["indexMort"]
outcome["real"] = x
ptmasks = pd.DataFrame(neuraltest['Pt_Mask'])
pts = ptmasks[(chunks-1)::chunks]
z = pts['Pt_Mask']
z = z.reset_index()
z['Pt_Mask'] = z['Pt_Mask'].astype('int64')
z = z['Pt_Mask']
outcome["Pt_Mask"] = z
print("NEURAL NET:")
plt.hist(outcome.preds)
plt.show()
fpr, tpr, thresholds = roc_curve(outcome.real, outcome.preds)
df = pd.DataFrame(dict(fpr=fpr, tpr=tpr))
plt.plot(fpr, tpr)
plt.show()
auc = np.trapz(tpr,fpr)
print(auc)